h1 {
  font-weight: 600;
  font-size: clamp(35px, 8vw, 80px);
}
h2 {
  font-weight: 500;
  font-size: clamp(40px, 8vw, 68px);
}
h3 {
  font-weight: 500;
  font-size: clamp(35px, 3.8vw, 75px);
}
p {
  font-weight: 300;
  line-height: 1.5;
  font-size: clamp(1rem, 1.1vw, 22px);
}
